<div class="panel right">
	<center><h1><b>Create a Tweet</b></h1></center>
	<p>
		<form action="/uploadphoto" id="newTweet">
			<textarea id="status" name="text" class="ribbitText"></textarea>
			<font size=1><span id="text_counter"></span></font>
			<br />
			<input id="file" type="file" value="Upload!">
			<input id="btn_submit" type="submit" value="Tweet!">
		</form>
		<center><div id="message"></div></center>
		<style>
	</p>
</div>